.OrderHistoryPage {
    display: flex;
    justify-content: center;
    
    height: 100vh; 
    padding: 20px; 
  }
  
  aside {
    width: 250px; 
    margin-right: 20px;
  }
  
  .OrderContent {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
  }
  
  .OrderDetail {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  
   
    width: 100%; 
    margin-top: 10px; 
    opacity: 0;
    transform: translateY(-10px); 
  
    &.show {
      opacity: 1;
      transform: translateY(0); 
    }
  }
  
 
  