.PortalContainer {
   font-size: 20px;

   .LSBtn {
    display: block;
    margin: -102px 10px 10px 1173px;
    color: black;
   }
    
   .CBtn {
    display: block;
    margin: -49px 10px 10px 1382px;
    color: black;
   }

}