$primary-color: #000000;
$secondary-color: #ff6b00;
$body-font: 'Arial', sans-serif;


section {
  background-color: white;
  padding: 20px;
  margin: 50px 20px 20px 20px;
  border: 1px solid #ccc;
  
 
  video {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
  }


  h1 {
    font-size: 24px;
    color: $primary-color;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }

 
}


body {
  font-family: $body-font;
  background-color: #f5f5f5;
}


