div.pexels-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 0px;
  
    h1 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 20px;
      margin-top: 50rem;
      width: 100%; 
    }
  
  }