.NavBar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    display: felx;
    flex-direction: row;
    justify-content: space-between;
}

main {
    color: yellow;
    margin: 0 0.5rem;
    font-weight: 500;
}

div { 
    color: blue;
    margin: 0 0.5rem;
    font-weight: 500;
}

div:hover {
    cursor: crosshair
}