.NavBar {
    display: flex;
    background-color: #003399;
    color: #ffcc00;
    text-align: center;
    font-size: 30px;
    flex-direction: column;

}

.Link {
    color: #ffcc00;
    text-align: center;
    font-size: 30px;
    grid-template-columns: auto;
    flex-direction: row;
}

.Logo {
    position: absolute;
}