.Footer {
    background-image: url <img class="room-image-lights svelte-1xs8elx on" src="https://www.ikea.com/global/en/images/footer-lights.svg" aria-hidden="true" loading="lazy" width="1950" height="320" alt="Illustration of a room with IKEA products: chairs, tables,
    storage units, lighting and wall art">;
}