.SignUpForm {
    display: block;

    .SForm {
        display: grid;
        gap: 6px;
    }  

    .Placeholder {
        font-size: 15px;
        text-align: center;
    }

    .SignUpBtn {
        color: rgb(162, 14, 14);
        background-color: white;
        font-size: 20px;
        border-color: rgb(162, 14, 14);
        display: block;
        border-radius: 10%;
        margin: 45px 387px 30px 0px;
        padding: 5px;
    }

    .SignUpBtn:hover {
        color: white;
        background-color: rgb(162, 14, 14);
        border-color: black;
    }
   
}