.CategoryList {
    display: grid;
    color: blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 17px 2px 10px 155px;
    cursor: pointer;
 
}

