@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "grid";
@import "reset";

:root {
  background-color: white;
}

$primary-color: #007bff;
$secondary-color: #ff6c00;



